version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: genosentinel-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: genosentinel
    ports:
      - "3307:3306"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql_data:/var/lib/mysql
    networks:
      - genosentinel-network

volumes:
  mysql_data:

networks:
  genosentinel-network:
    driver: bridge