apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-genomics-pvc
  namespace: genosentinel
  labels:
    app: mysql-genomics
    component: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard