apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-clinical-pvc
  namespace: genosentinel
  labels:
    app: mysql-clinical
    component: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard